<% if user_signed_in? %>
  <div class="relative">
    <div class="p-2 bg-red-600 border border-white rounded-full group">
      <%= image_tag "user-default.svg", size: "30x30", class: "cursor-pointer" %>
      <div class="absolute z-50 hidden my-4 text-base list-none bg-red-600 divide-y divide-white rounded-lg shadow group-hover:block top-7">
        <div class="px-4 py-3">
          <span class="block text-sm text-white truncate">
            <%= current_user.email %>
          </span>
        </div>
        <ul class="py-2">
          <li>
            <%= link_to "Мої вакансії", "#", class: "block px-4 py-2 text-sm hover:bg-red-500 text-white hover:text-white" %>
          </li>
          <li>
            <%= link_to "Додати вакансію", new_vacancy_path, class: "block px-4 py-2 text-sm hover:bg-red-500 text-white hover:text-white" %>
          </li>
          <li>
            <%= link_to "Редагувати профіль", edit_user_registration_path, class: "block px-4 py-2 text-sm hover:bg-red-500 text-white hover:text-white" %>
          </li>
          <li>
            <%= button_to "Вийти", destroy_user_session_path, method: :delete, class: "block w-full text-left px-4 py-2 text-sm hover:bg-red-500 text-white hover:text-white" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% else %>
<div>
  <%= link_to "Login", new_user_session_path, class: "btn-success mr-2" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn-primary" %>
</div>
<% end %>
